<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team2.documents.query.mapper.ProformaInvoiceQueryMapper">

    <resultMap id="proformaInvoiceResultMap" type="com.team2.documents.query.model.ProformaInvoiceView">
        <id property="proformaInvoiceId" column="pi_id"/>
        <result property="piId" column="pi_code"/>
        <result property="status" column="pi_status"/>
    </resultMap>

    <select id="findById" resultMap="proformaInvoiceResultMap">
        SELECT pi_id, pi_code, pi_status
        FROM proforma_invoices
        WHERE pi_code = #{piId}
    </select>

    <select id="findAll" resultMap="proformaInvoiceResultMap">
        SELECT pi_id, pi_code, pi_status
        FROM proforma_invoices
        ORDER BY pi_id
    </select>

</mapper>
